body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* a {
  text-decoration: none;
  color: unset;
}