.phone-detail {
    font-size: 1rem;

    .div1 {
        background: black;
        color: white;
        padding: 5px;
    }
    .div2 {
        padding: 5px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .div8 {
        img {
            width: 100%;
        }
    }
    
    .features-phone {
        background: black;
        color: white;
        padding: 5px;

        .feature-section {
            display: none;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 10px;

            .feature {
                text-align: left;
                font-size: 0.8rem;;
                background: rgba(238, 238, 238, 0.4);
                padding: 5px 10px;
                margin: 5px;
                border-radius: 15px;
            }
        }
    }
    
    .div9 {
        margin: 10px;
    }
}

