.phone-detail {
    font-size: 1rem;
    max-width: 450px;
    margin: 0 auto;

    .manufacturer-name {
        background: black;
        color: white;
        padding: 5px;
    }
    .phone-name {
        padding: 5px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .image {
        img {
            width: 100%;
        }
    }
    
    .features-phone {
        background: black;
        color: white;
        padding: 5px;

        svg {
            margin: 0 10px;
        }

        .feature-section {
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 0;
            height: 0;
            opacity: 0;
            transition: height 0.5s ease;

            .feature {
                text-align: left;
                font-size: 0.8rem;;
                background: rgba(238, 238, 238, 0.4);
                padding: 5px 10px;
                margin: 5px;
                border-radius: 15px;
            }
        }
    }
    
    .description-phone {
        margin: 10px;
    }
}

@media screen and (min-width: 576px) {
    .phone-detail {
      border: 1px solid rgba(0, 0, 0, 0.219);
      box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
    }
  }

